.container_project_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project_card {
    width: 47%;
    margin-bottom: 15px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
