.block_content {
    display: flex;
    align-items: center;
}

@media (max-width: 767.98px) { 
    .block_content {
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
    }
}

.personal_photo {
    clip-path: circle(100px);
    width: 300px;
    height: auto;
}

.background_image_home {
  background-color: black;
}

strong {
    display:inline;
}

.block_content_footer {
    margin-bottom: 40px;
}

/* ACCORDION CSS */

.accordion-button:not(.collapsed) {
    color: #ffffff!important;
    background-color: #000000!important;
}
  
.accordion-button:focus {
    box-shadow: none!important;
}
