{% extends base_html_loader %}

{% block css_style %}
<link rel="stylesheet" href="{{ url_for('cv_page_bp.static', filename='style.css') }}">
{% endblock %}

{% block tab_title %}
CV
{% endblock %}

{% block section_name %}
CV
{% endblock %}

{% block header %}
<header style="background-image: url({{url_for('cv_page_bp.static', filename='background_image_cv.png')}}); background-repeat:no-repeat; background-position-x:center;">
</header>
{% endblock %}

{% block content %}
<form action="{{ url_for('cv_page_bp.cvRouting')}}" target="_blank">
    <input class="btn blackbutton_form_submit_w100 cv_link_button" type="submit" value="PLEASE CLICK HERE TO OPEN MY CV ON YOUR BROWSER">
</form>
{% endblock %}
