{% extends project_base_html_loader %}
{% block css_style %}
<link rel="stylesheet" href="{{ url_for('project_id_3_bp.static', filename='style.css') }}">
{% endblock %}

{% block tab_title %}
DS
{% endblock %}

{% block project_title %}
NBA Dashboard       
{% endblock %}

{% block github_repo %}
https://github.com/Excelsior7/DSProjects/blob/main/NBA/notebook/scraping.ipynb
{% endblock %}

{% block project_description %}
<p>
    Data science is an integral part of many (if not all) scientists in the digital age.
</p>
<p>
    The objective here was to put into practice in the form of a project, different components of the data science pipeline. 
    The NBA was simply a fertile application domain that interested me.
</p>
<p>
    <strong>The different components present in this project are:</strong>
    <ul>
        <li>
            <strong>Data scraping</strong>: The data I used for this project comes from the site <a href="https://www.basketball-reference.com" target="_blank">Basketball Reference</a>. 
            And to extract the data I used <a href="https://beautiful-soup-4.readthedocs.io/" target="_blank">Beautiful Soup</a>.  
        </li>
        <li>
            <strong>Data cleaning</strong>: Once extracted, the data must be cleaned. For this project, the cleaning has been done upstream by the people who build the data I extracted above. 
            I simply reworked the format of some columns to work more simply with the data.
        </li>
        <li>
            <strong>Data storage</strong>: For the data storage, I used the python interface <a href="https://www.h5py.org/" target="_blank">h5py</a> 
            of the flexible big data tool <a href="https://hdfgroup.org/" target="_blank">HDF5</a> whose structure and ease of use suited my needs.
        </li>
        <li>
            <strong>Data analysis</strong>: My limited experience in the world of data analysis suggests that its two main goals are inspiration (e.g. exploring new hypotheses) or clarification (e.g. refuting a certain hypothesis). 
            For this project, I am more into the inspiration part, which in a more technical way is called descriptive analysis. 
            To help me work with the data, I used the famous <a href="https://pandas.pydata.org/" target="_blank">Pandas</a> tool.
        </li>
        <li>
            <strong>Data visualization</strong>: I'm not inventing anything, the visual format is often the most adapted to humans to transform raw textual data into understanding. 
            So I think the next logical question is this: How to best present the data so that the message it conveys to us is as clear as possible?
            To help me answer this question, I used the recognized <a href="https://matplotlib.org/stable/index.html" target="_blank">Matplotlib</a> tool.
        </li>
    </ul>
</p>
<br>
<p>
    <strong>Some additional information on the dashboard:</strong>
    <ul>
        <li>
            The data is from regular seasons only. (does not include playoffs)
        </li>
        <li>
            The code updates the information automatically by making a daily request (except when the season is over) on the <a href="https://www.basketball-reference.com" target="_blank">Basketball Reference</a> site. 
            The <a href="https://apscheduler.readthedocs.io/en/3.x/index.html" target="_blank">APScheduler</a> tool helps me to do this automation.
        </li>
        <li>
            The dashboard can be broken down into two parts and the statistics in both parts are centered around the chosen team. 
            The top part is only interested in the current season and the bottom part is interested in several statistics 
            calculated from the interval of seasons that can be modified by the user. 
            The dividing line between the top and the bottom is the definition of this interval.
        </li>
        <li>
            Season range start must be less than or equal to Season range end.
        </li>
        <li>
            Since a season is usually defined with two consecutive years and not just one year, 
            to avoid any ambiguity I would like to specify that if you choose season S, 
            it points to the (S-1)/S season.
        </li>
    </ul>

</p>

{% endblock %}

{% block project_content %}
<div class="grid_dashboard_container google_div border border-3 rounded-4">
    <div class="choose_team"> 
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose NBA Teams
            </a>
        
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='ATL') }}">Atlanta Hawk</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='BOS') }}">Boston Celtic</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='BRK') }}">Brooklyn Nets</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='CHO') }}">Charlotte Hornets</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='CHI') }}">Chicago Bulls</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='CLE') }}">Cleveland Cavaliers</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='DAL') }}">Dallas Mavericks</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='DEN') }}">Denver Nuggets</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='DET') }}">Detroit Pistons</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='GSW') }}">Golden State Warriors</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='HOU') }}">Houston Rockets</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='IND') }}">Indiana Pacers</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='LAC') }}">Los Angeles Clippers</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='LAL') }}">Los Angeles Lakers</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='MEM') }}">Memphis Grizzlies</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='MIA') }}">Miami Heat</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='MIL') }}">Milwaukee Bucks</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='MIN') }}">Minnesota Timberwolves</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='NOP') }}">New Orleans Pelicans</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='NYK') }}">New York Knicks</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='OKC') }}">Oklahoma City Thunder</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='ORL') }}">Orlando Magic</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='PHI') }}">Philadelphia 76ers</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='PHO') }}">Phoenix Suns</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='POR') }}">Portland Trail Blazers</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='SAC') }}">Sacramento Kings</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='SAP') }}">San Antonio Spurs</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='TOR') }}">Toronto Raptors</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='UTA') }}">Utah Jazz</a></li>
                <li><a class="dropdown-item" href="{{ url_for('project_id_3_bp.loadFigures', team='WAS') }}">Washington Wizards</a></li>
            </ul>
        </div>
    </div>
    <div class="team_logo">
        <img src="{{url_for('project_id_3_bp.static', filename=team_acronym+'.png')}}" alt="plot", width="250", height="auto">
    </div>
    <div class="team_current_season">
        <div class="last_game">
            <p>
                <strong>Last Game - {{last_game_date}}</strong>
            </p>
            <div class="last_game_scores">
                <div class="last_game_score_vignette">
                    <img class="mr-2" src="{{url_for('project_id_3_bp.static', filename=team_acronym+'.png')}}" alt="plot", width="50", height="auto">
                    <strong>{{last_game_team_name}}</strong>
                </div>
                <div class="last_game_score">
                    <div class="team">
                        <strong>{{last_game_team_points}}</strong>
                    </div>
                    :
                    <div class="opp">
                        <strong>{{last_game_opp_points}}</strong>
                    </div>
                </div>   
                <div class="last_game_score_vignette">
                    <img class="ml-2" src="{{url_for('project_id_3_bp.static', filename=opp_acronym+'.png')}}" alt="plot", width="50", height="auto">
                    <strong>{{last_game_opponent_name}}</strong>
                </div>
            </div>
        </div>
        <img class="img_responsive" src="data:image/png;base64,{{fig_barplot_encoded}}" alt="plot" width="450", height="auto">
    </div>
    <div class="choose_season">

        <form action="{{ url_for('project_id_3_bp.loadFigures', team=request.path.split('/')[2])}}" method="post">
            <div class="range_start range">
                <label for="rangestart">Season range start:</label>
                <input id="rangestart" name="rangestart" type="range" value="{{SEASON_RANGE_START}}" min="{{FIRST_SEASON}}" max="{{LAST_SEASON}}" oninput="this.nextElementSibling.value = this.value">
                <output>{{SEASON_RANGE_START}}</output>
            </div>
            <div class="range_end range">
                <label for="rangeend">Season range end:</label>
                <input id="rangeend" name="rangeend" type="range" value="{{SEASON_RANGE_END}}" min="{{FIRST_SEASON}}" max="{{LAST_SEASON}}" oninput="this.nextElementSibling.value = this.value">
                <output>{{SEASON_RANGE_END}}</output>
            </div>
            <input class="btn blackbutton_form_submit_w100 mt-3" type="submit" value="Apply">
        </form>
        <p class="choose_season_error_message">
            {{choose_season_error_message}}
        </p>
    </div>  
    <div class="rows">
        <div class="row_1">
            <div class="number_of_games">
                <h3>
                    NUMBER OF GAMES
                </h3>
                <h2>
                    {{number_of_games}}
                </h2>
            </div>
            <img class="img_responsive" src="data:image/png;base64,{{fig_wl_encoded}}" alt="plot" width="350", height="auto">
        </div>
        <div class="row_2">
            <img class="img_responsive" src="data:image/png;base64,{{fig_points_encoded}}" alt="plot" width="350", height="auto">
            <img class="img_responsive" src="data:image/png;base64,{{fig_opp_points_encoded}}" alt="plot" width="350", height="auto">
        </div>
        <div class="row_3">
            <img class="img_responsive" src="data:image/png;base64,{{fig_points_boxplot_encoded}}" alt="plot" width="350", height="auto">
        </div>
    </div>
  </div>
{% endblock %}


{% block js_script %}
{% endblock %}
