.cover-container {
    max-width: 50em;
}

.navbar-brand-fa {
  display: flex;
  align-items: center;
}

.content header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
