#email {
  display: none;
  font-size: 14px;
}

.cover-container {
    max-width: 50em;
}

.container {
  align-items: flex-start !important;
}

.navbar-brand-fa {
  display: flex;
}

.navbar-brand-fa i {
  font-size:24px;
  margin-top:7px;
}

.fa-github {
  margin-right:7px;
}

.content header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 200px;
  margin-top: 20px;
}

.content h5 { 
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #000; 
  line-height:0.1em;
  margin-top: 50px;
} 

.content h5 span { 
  background:#fff; 
  padding:0 10px; 
}