#email {
  font-size: 14px;
}

.cover-container {
    max-width: 50em;
}

.container {
  align-items: flex-start !important;
}

.navbar-brand-fa {
  display: flex;
}

.navbar-brand-fa i {
  font-size:24px;
  margin-top:7px;
}

.fa-github {
  margin-right:7px;
}

.base_content header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  height: 200px;
  margin-top: 20px;
}

.base_header h5 { 
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #000; 
  line-height:0.1em;
  margin-top: 20px;
} 

.base_header h5 span { 
  background:#fff; 
  padding:0 10px; 
}

.blackbutton_form_submit_w100 {
  --bs-btn-color: #fff!important;
  --bs-btn-bg: #212529!important;
  --bs-btn-border-color: #212529!important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e!important;
  --bs-btn-focus-shadow-rgb: 66,70,73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
  width: 100%;
}